$color-primary: #ff9900;
$color-additional: #ff7549;
$color-light: #ffffff;
$color-text: #544837;
$color-heading: #2f281e;
$color-link: #1943ef;
$color-background: #ffeee1;
$color-background-tag: #f5f5f5;
$color-border: #d7d7d7;
$color-hovered: #bcd0e5;
$color-hamburger: #173a56;

$color-lily: #7752be;
$color-yellow: #fab005;
$color-red: #f03e3d;
$color-blue: #4dadf7;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 440px;
$mobile-small-width: 320px;
