.ico {
  cursor: pointer;
  display: inline-block;
}

.icon-square {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &_lilium {
    background-color: $color-lily;
  }
  &_yellow {
    background-color: $color-yellow;
  }
  &_red {
    background-color: $color-red;
  }
  &_blue {
    background-color: $color-blue;
  }
}

.ico_play {
  width: 18px;
  height: 19px;
  background-image: url(' ../img/icon/play-icon.svg');
}

.ico_cursor {
  width: 12px;
  height: 17px;
  background-image: url(' ../img/icon/cursor-icon.svg');
}

.ico_snake {
  width: 20px;
  height: 15px;
  background-image: url(' ../img/icon/snake-icon.svg');
}

.ico_heart {
  width: 18px;
  height: 15px;
  background-image: url(' ../img/icon/heart-icon.svg');
}

.ico_hourglass {
  width: 15px;
  height: 17px;
  background-image: url(' ../img/icon/hourglass-icon.svg');
}
