.navigation {
  display: flex;
  font-size: 1.5rem;
  line-break: 2.8rem;
  @include media-tablet {
    text-align: center;
    border-top: 1px solid black;
    flex-direction: column;
    position: relative;
    background-color: $color-light;
    width: 100vw;
    padding: 0;
  }
}

.navigation__link {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-primary;
  }
  @include media-tablet {
    @include font($style: normal, $size: 2.2rem, $weight: 400, $height: 2rem);
    padding: 34px;
  }
}
