.promo {
  padding: 30px 0;
  overflow: hidden;
}

.promo .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-big-mobile {
    flex-direction: column-reverse;
  }
}

.promo__content {
  padding-right: 65px;
  @include media-tablet {
    padding-right: 0px;
  }
  @include media-big-mobile {
    text-align: center;
  }
}

.promo__title {
  margin: 0 0 30px;
}

.promo__text {
  max-width: 487px;
  margin: 0 0 45px;
  @extend %font-add;
  @include font($size: 1.8rem, $height: 2.8rem, $weight: normal);
  @include media-tablet {
    width: 380px;
  }
  @include media-big-mobile {
    width: auto;
  }
}

.promo__buttons {
  display: inline-flex;
  align-self: center;
  > * {
    margin-right: 44px;
    &:last-child {
      margin-right: 0;
    }
  }
  @include media-big-mobile {
    flex-direction: column;
    > * {
      margin-right: 0px;
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.promo__images {
  @include media-big-mobile {
    max-width: 100%;
    margin-bottom: 16px;
  }
}
